//#include "mouse.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 2000 // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20   // 10



&lt { quick-tap-ms = <200>; };

&mt {
    quick-tap-ms = <200>;
    tapping-term-ms = <200>;
};

&mmv {
    acceleration-exponent = <1>;  // 1
    time-to-max-speed-ms = <750>; // 300
    delay-ms = <0>;
    trigger-period-ms = <8>;      // 16
};
&msc {
    acceleration-exponent = <1>;  // 0
    time-to-max-speed-ms = <40>;  // 300
    delay-ms = <0>;
    trigger-period-ms = <8>;      // 16
};
/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <2 1>;
            then-layer = <3>;
        };
    };

    macros {
        pwd: pwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp R &kp U &kp S &kp T &kp M &kp E &kp I &kp A &kp M &kp A &kp A &kp D &kp M &kp I &kp N &kp N4 &kp N2 &kp DOT>;
            label = "PWD";
        };
    };

    combos {
        compatible = "zmk,combos";

        mouse_combo {
            bindings = <&mo 4>;
            key-positions = <3 2 1>;
            timeout-ms = <501>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E           &kp R            &kp T      &kp Y      &kp U          &kp I      &kp O    &kp P     &kp LBKT
&kp LCTRL   &kp A  &kp S  &kp D           &kp F            &kp G      &kp H      &kp J          &kp K      &kp L    &kp SEMI  &mt RCTRL SQT
&kp LALT    &kp Z  &kp X  &kp C           &kp V            &kp B      &kp N      &kp M          &kp COMMA  &kp DOT  &kp FSLH  &mt RALT BSLH
                          &lt 1 LEFT_WIN  &mt LSHFT SPACE  &lt 2 RET  &lt 2 TAB  &kp BACKSPACE  &lt 1 DEL
            >;
        };

        raise_layer {
            bindings = <
&kp LGUI  &mt HOME PAGE_UP  &kp UP_ARROW    &mt END PAGE_DOWN  &kp INS  &none   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_NUMLOCK  &kp PLUS      &kp MINUS
&trans    &kp LEFT          &kp DOWN_ARROW  &kp RIGHT          &none    &none   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp EQUAL       &kp ASTERISK  &kp SLASH
&kp LALT  &none             &none           &none              &none    &none   &kp N7        &kp N8        &kp N9        &kp N0          &kp KP_DOT    &kp RALT
                                            &trans             &trans   &trans  &trans        &trans        &trans
            >;
        };

        lower_layer {
            bindings = <
&kp LGUI   &none  &kp F1  &kp F2   &kp F3   &kp F4   &kp LS(NUMBER_1)  &kp RS(NUMBER_2)  &kp RS(NUMBER_3)  &none       &none  &kp RIGHT_BRACKET
&kp LCTRL  &none  &kp F5  &kp F6   &kp F7   &kp F8   &kp LS(NUMBER_4)  &kp RS(N5)        &kp LS(NUMBER_6)  &none       &none  &mt RCTRL MINUS
&kp LALT   &none  &kp F9  &kp F10  &kp F11  &kp F12  &kp RS(N7)        &kp RS(N8)        &kp RS(NUMBER_9)  &kp RS(N0)  &none  &kp RALT
                          &trans   &trans   &trans   &trans            &trans            &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &none
                                         &trans        &none         &trans        &none         &trans        &trans
            >;
        };

        mouse_layer {
            bindings = <
&trans  &none  &none  &none   &msc SCRL_UP  &msc SCRL_DOWN  &mkp MB1        &mmv MOVE_UP    &mkp MB2         &none  &none  &pwd
&trans  &none  &none  &none   &none         &none         &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &none  &trans
&trans  &none  &none  &none   &none         &none         &trans          &trans          &trans           &none  &none  &trans
                      &trans  &trans        &trans        &trans          &trans          &trans
            >;
        };
    };
};
