#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt {
    quick-tap-ms = <200>;
    tapping-term-ms = <200>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <2 1>;
            then-layer = <3>;
        };
    };

    macros {
        pwd: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp T &kp R &kp U &kp S &kp T &kp M &kp E &kp I &kp A &kp M &kp A &kp A &kp D &kp M &kp I &kp N &kp N4 &kp N2 &kp DOT>;

            label = "NEW_MACRO";
            tap-ms = <50>;
            wait-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE       &kp Q  &kp W  &kp E           &kp R            &kp T      &kp Y      &kp U          &kp I      &kp O    &kp P     &kp LBKT
&mt LCTRL GRAVE  &kp A  &kp S  &kp D           &kp F            &kp G      &kp H      &kp J          &kp K      &kp L    &kp SEMI  &mt RCTRL SQT
&mt LALT MINUS   &kp Z  &kp X  &kp C           &kp V            &kp B      &kp N      &kp M          &kp COMMA  &kp DOT  &kp FSLH  &mt RALT BSLH
                               &lt 1 LEFT_WIN  &mt LSHFT SPACE  &lt 2 RET  &lt 2 TAB  &kp BACKSPACE  &lt 1 DEL
            >;
        };

        raise_layer {
            bindings = <
&mt LGUI KP_NUM  &mt HOME PAGE_DOWN  &kp UP_ARROW    &mt HOME PAGE_DOWN  &none   &none   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMLOCK   &kp PLUS      &kp MINUS
&mt LCTRL EQUAL  &kp LEFT            &kp DOWN_ARROW  &kp RIGHT           &none   &none   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp EQUAL        &kp ASTERISK  &kp SLASH
&kp LALT         &none               &none           &none               &none   &none   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0  &kp KP_DOT    &kp RALT
                                                     &trans              &trans  &trans  &trans           &trans           &trans
            >;
        };

        lower_layer {
            bindings = <
&mt LGUI F1     &kp F2             &kp F3                 &kp F4    &kp F5         &kp F6     &kp F7     &kp F8        &kp F9    &kp F10              &kp F11               &kp F12
&mt LCTRL PLUS  &kp EXCL           &kp AT                 &kp HASH  &kp DLLR       &kp PRCNT  &kp CARET  &kp AMPS      &kp STAR  &mt LPAR LEFT_BRACE  &mt RPAR RIGHT_BRACE  &mt RCTRL MINUS
&mt LALT EQUAL  &kp DOUBLE_QUOTES  &kp LG(DOUBLE_QUOTES)  &kp N3    &kp SEMICOLON  &none      &kp COLON  &kp QUESTION  &kp N8    &kp LEFT_BRACKET     &kp RIGHT_BRACKET     &kp RALT
                                                          &trans    &trans         &trans     &trans     &trans        &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &gresc        &none         &none         &none         &none         &pwd
                                         &trans        &none         &trans        &none         &trans        &trans
            >;
        };
    };
};
