/ {
    compatible = "zmk,shield";

    chosen {
        zmk,keyboard = &usb_hid; // Указывает, что это HID устройство
    };

    usb_hid: usb-hid {
        compatible = "zmk,usb-hid";
    };

    bluetooth: bluetooth {
        status = "okay";
        compatible = "zephyr,bluetooth";
    };

    pwm0: pwm@4001c000 {
        status = "disabled";
    };

    uart0: uart@40002000 {
        status = "disabled";
    };

    spi3: spi@4002f000 {
        status = "disabled";
    };
};
