/dts-v1/;
/ {
    compatible = "zmk,shield";

    chosen {
        zmk,keyboard = &usb_hid; // Указывает, что это HID устройство
    };

    usb_hid: usb-hid {
        compatible = "zmk,usb-hid";
    };

    bluetooth: bluetooth {
        status = "okay";
        compatible = "zephyr,bluetooth";
    };

    &pwm0 {
        status = "disabled";
    };

    &uart0 {
        status = "disabled";
    };

    &spi3 {
        status = "disabled";
    };
};
