/dts-v1/;
/ {
    chosen {
        zmk,keyboard = &usb_hid;
    };

    usb_hid: usb-hid {
        compatible = "zmk,usb-hid";
    };

    &bluetooth {
        status = "okay";
    };

    &cdc_acm_uart0 {
        status = "okay";
    };

    &uart0 {
        status = "disabled";
    };

    &pwm0 {
        status = "disabled";
    };

    &i2c1 {
        status = "disabled";
    };

    &spi3 {
        status = "disabled";
    };
};
